:root {
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************** SOME DEFAULT PROPERTIES  ***************************/

body {
  background-color: var(--Cream);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************************** HERE I MADE IMG  ***************************/

.container {
  width: 700px;
  height: 500px;
  position: relative;
  border-radius: 20px;
}

.desktop-img {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.mobile-img {
  display: none;
}

/*************************** HERE I MADE RIGHT-SIDE ***************************/

.description {
  width: 50%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  border-radius: 0px 10px 10px 0px;
}

.description header {
  color: var(--Dark-grayish-blue);
  letter-spacing: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--Very-dark-blue);
  line-height: 40px;
}

.description p {
  color: var(--Dark-grayish-blue);
  line-height: 25px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.price-box {
  display: flex;
  align-items: center;
  font-family: "Fraunces", serif;
  margin-bottom: 20px;
}

.price-box h2 {
  margin-right: 20px;
  font-size: 40px;
  color: var(--Dark-cyan);
}

.price-box h3 {
  color: var(--Dark-grayish-blue);
  font-size: 15px;
  text-decoration: line-through;
}

/*************************** HERE I MADE BUTTON WITH ANIMATION ***************************/

.button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--Dark-cyan);
  border-radius: 10px;
  border: none;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;

  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s;
}

.button img {
  margin-right: 10px;
  width: 20px;
}

.button:hover {
  background-color: #1b4131;
}

/*************************** RESPONSIVE ***************************/

@media screen and (max-width: 600px) {
  body {
    padding: 30px;
  }
  .container {
    height: 90vh;
  }
  .desktop-img {
    display: none;
  }

  .mobile-img {
    width: 100%;
    height: 30vh;
    border-radius: 10px 10px 0px 0px;
    display: block;
    position: absolute;
  }

  .description {
    top: 30%;
    left: 0;
    width: 100%;
    height: 60vh;
    border-radius: 0px 0px 10px 10px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 25px;
  }

  .container {
    height: 90vh;
  }

  .mobile-img {
    width: 100%;
    height: 20vh;
  }

  .description {
    top: 20vh;
    width: 100%;
    height: 70vh;
  }
}
